# docker/requirements.gx_bq_pipeline.txt
# Airflow providers
#apache-airflow-providers-google
openlineage-airflow>=1.9.0
openlineage-airflow[bigquery]
openlineage-python>=1.0.0
#openlineage-great-expectations>=0.5.0

great_expectations==0.17.23

google-cloud-bigquery
google-cloud-storage
google-cloud-bigquery-storage

fsspec[gcs]
pandas
python-dotenv
PyYAML
faker